<!DOCTYPE html>
<html>
<head>
  <title>Alquiler de Canchas</title>
    <%= stylesheet_link_tag "application", media: "all",
                          "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <form class="navbar-form navbar-left" role="search">
      <p class="navbar-text pull-right">
        <% if user_signed_in? %>
            Logged in as <strong><%= current_user.email %></strong>.
            <%= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %> |
            <%= link_to 'Eliminar perfil', destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
            <%= link_to 'Regístrate', new_user_registration_path, :class => 'navbar-link'  %> |
            <%= link_to 'Logéate!', new_user_session_path, :class => 'navbar-link'  %>
        <% end %>
    </form>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <ul class="nav navbar-nav navbar-right">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home",  home_index_path   %></li>
        <li><%= link_to "Canchas", canchas_path %></li>
        <li><%= link_to "Predios", predios_path %></li>

        <li><%= link_to "Login", new_user_session_path%> </li>
      </ul>
     </div>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <%= yield %>

</div>
</body>
</html>